body {
    background-color: #43372C;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 800px;
    padding: 20px;
    text-align: left;
    background-color: #43372C;
    border-radius: 5px;
    border: 10px solid #715D4A;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-top: 0;
    color: #A1876E;
}

form {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #43372C;
}

label {
    font-weight: bold;
    color: #A1876E;
}

input[type="text"],
textarea,
select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid #A1876E;
    background-color: #43372C;
    color: #A1876E;
}

input[type="submit"] {
    background-color: #715D4A;
    color: black;
    padding: 10px 20px;
    border: 2px solid #715D4A;
    border-radius: 3px;
    cursor: pointer;
}

.Availablebooks_box {
    background-color: #715D4A;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Availablebooks_card {
    display: flex;
    flex-direction: row;
}

.Availablebooks_img {
    flex: 0 0 30%;
    padding: 10px;
}

.Availablebooks_img img {
    width: 100%;
    height: auto;
}

.Availablebooks_tag {
    flex: 1;
    padding: 10px;
}

.Availablebooks_tag h2 {
    margin-top: 0;
}

.Availablebooks_tag p {
    margin: 5px 0;
}

.bookprice {
    font-weight: bold;
    color: #EADBC8;
}

.Availablebooks_tag .key {
    font-weight: bold;
    color: #e8e3e5;
}

.Availablebooks_tag .value {
    color: #f0c194;
}
.Availablebooks_img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

.Availablebooks_img img:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}
