
body {
  background-color: #43372C;
  margin: 0;
  padding: 10px;
  font-family: monospace;
  color: white;

}

h1 {
  text-align: left;
  color: #ccc;
  font-family: monospace;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 40px
}

div.book {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  overflow: auto;
}

div.book:last-of-type {
  border-bottom: 1px solid #715D4A;
}

img {
  display: block;
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

.book-details {
  flex: 1;
}

.book-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #ccc;
}

.book-price {
  font-size: 16px;
  margin: 0;
  color: #ccc;
}

p,
small {
  margin: 0;
}

button {
  background-color: #715D4A;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.counter {
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #715D4A;
  border-bottom: 1px solid #715D4A;
}

.subtotal {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: align;
  color: #ccc;
}

hr {
  border: none;
  height: 1px;
  background-color: #715D4A;
  margin: 20px 0;
}
