body {
     /* Background image settings */
  /* background-image: url("../img/wp9166934-4k-books-wallpapers.jpg"); */
  background-color: #43372C;
  background-repeat: no-repeat;
  background-size: cover; /* Adjust to your needs */
  background-attachment: fixed;
  margin: 0; /* Remove default margin */
  height: 100vh; /* Set height of body to full viewport height */
  display:flex; /* Use flexbox to center the form */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  }

form {
  overflow: hidden; /* Ensure the rounded corners are applied properly */
  display: inline-flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  text-align: center;
  height: 550; /* Adjust to your needs */
  width: 450;
  border-width: 10px;
  border-style: solid;
  border-color: #715D4A;
  border-width: 10px;
  border-radius: 50px;


  /* background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed; */
  position: relative;
/*
  background: 
  linear-gradient(#fff4e6 0 0) padding-box,
  linear-gradient(to right, #854442, #be9b7b) border-box;
color: #313149;
padding: 10px;
border: 10px solid transparent;
border-radius: 50px;
display: flex;
*/

}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="checkbox"],
select,
textarea {
    width: 100%; /* Set width to fill its container */
    padding: 8px; 
    font-size: 10px;
    border: 2px solid #715D4A;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 0px; 
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="checkbox"],
select,
label {
 /* Your styling properties here */
 color:#A1876E; /* Change text color */
 font-size: 25px; /* Change font size */
 font-weight: bold; /* Make text bold */
 text-align: center; /* Horizontally center the text */
 display: block; /* Change label to block element to apply text-align */
}



#password{
  width: 100%; /* Set width to fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid #715D4A; /* Add a border */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  margin-bottom: 10px; /* Add margin for spacing between inputs */
  background-color: #A1876E;
  color: aliceblue;
}

#reset{
  width: 40%; /* Set width to fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid #715D4A; /* Add a border */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  margin-bottom: 10px; /* Add margin for spacing between inputs */
  margin-left: 10px; /* Add margin for spacing between inputs */
  margin-right: 15px; /* Add margin for spacing between inputs */
  /* font-family: ; */
  color: #A1876E;
  background-color:#715D4A;
  
}

#submit{
  width: 40%; /* Set width to fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid #715D4A; /* Add a border */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  margin-bottom: 10px; /* Add margin for spacing between inputs */
  /* font-family: ; */
  color: #A1876E;
  background-color: #715D4A;
  
}

#username{
  width: 100%; /* Set width to fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid #715D4A; /* Add a border */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  margin-bottom: 10px; /* Add margin for spacing between inputs */
  background-color: #A1876E;
  color: aliceblue;
  /* color: #A1876E; */
}
#email{
  width: 100%; /* Set width to fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid #715D4A; /* Add a border */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  margin-bottom: 10px; /* Add margin for spacing between inputs */
  background-color: #A1876E;

}
#confpassword{
  width: 100%; /* Set width to fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid #715D4A; /* Add a border */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  margin-bottom: 10px; /* Add margin for spacing between inputs */
  background-color: #A1876E;

}
#id{
  width: 100%; /* Set width to fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid #715D4A; /* Add a border */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  margin-bottom: 10px; /* Add margin for spacing between inputs */
  background-color: #A1876E;

}
#isadmin{
  width: 100%; /* Set width to fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid #715D4A; /* Add a border */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  margin-bottom: 10px; /* Add margin for spacing between inputs */
  background-color: #A1876E;

}

h1 {
  color: #A1876E ; /* Change text color */
  margin-top: 0;
  margin-bottom: 30px;
  margin-top: auto;
  font-size: 60px;
  font-style: oblique;
  font-family: monospace;
  left: 0;
  top: 0;
/* background-color: #715D4A; */
  text-align: center; /* Horizontally center the text */
  display:block 

}
